@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width: 100vw;
  padding: 26px;
  margin-top: 0;
  color: white;
  font-size: 36px;
  background-color: rgba(0, 0, 0, 0.6);
}

.title {
  font-size: 2.5rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-desc, .due-date {
  display: flex;
  align-items: center;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  width: 20vw;
  height: 100vw;
  padding: 10px;
  color: black;
  margin-left: 0;
  margin-bottom: 0;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.2);
  row-gap: 1rem;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  width: 75vw;
  margin-right: 0;
  margin-bottom: 0;
  row-gap: 1rem;
}

.project-list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.project-node {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  padding: 1rem;
}

.project-node:hover {
  background-color:rgba(0, 0, 0, 0.3);
}

#projectTitle {
  height: 25px;
  width: 90%;
}

.task-form {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70vw;
}

.add-task-desc {
  height: 25px;
  width: 45vw;
}

.add-task-date {
  height: 25px;
  width: 10vw;
}

.task-list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.task-node {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  padding: 1rem;
}

.task-node:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.task-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.task-end {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 2rem;
}

.material-icons {
  font-size: 36px;
  top: 8px;
  position: relative;
}

#user-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 22px;
  width: 100%;
  right: 0;
  padding-left: 10px;
  justify-content: flex-end;
  padding-right: 10px;
}

#user-container #user-pic {
  top: -3px;
  position: relative;
  display: inline-block;
  background-image: url('/src/images/profile_placeholder.png');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 40px;
  border-radius: 20px;
}

#user-container #user-name {
  font-size: 16px;
  line-height: 36px;
  padding-right: 10px;
  padding-left: 20px;
}

@media screen and (max-width: 610px) {
  header {
    height: 113px;
    padding-bottom: 80px !important;
  }
  #user-container {
    top: 72px;
    background-color: rgb(3,155,229);
    height: 38px;
    padding-top: 3px;
    padding-right: 2px;
  }
  #user-container #user-pic {
    top: 2px;
    width: 33px;
    height: 33px;
    background-size: 33px;
  }
}

.material-icons {
  top: -1px;
  margin-right: 6px;
}

button {
  background: none;
  color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

input {
  margin-bottom: 1em;
  margin-right: 1em;
  margin-left: 1em;
  padding: 0.25em;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
